.main{
    position : relative;
	width : 800px;
	height : 300px;
}

.menu{
    position : relative;
	right : 350px;
}

.button{
    background-color: #C7D2D6;
	color: black;
    padding: 12px;
	text-align: center;
	font-size: 12px;
	margin: 2px 2px;
}

.greenbtn {background-color: #4CAF50; color: white;} 
.bluebtn {background-color: blue; color: white;} 
.redbtn {background-color: #f44336; color: white;}
.whitebtn {background-color: #e7e7e7; color: black;}
.blackbtn {background-color: #555555; color : white;} 
.yellowbtn{background-color: yellow; color: black;}

.cust_details{
   position : relative;
   left : 450px;
   bottom : 630px;
   background-color : #C7D2D6;
   height : 400px;
   width  : 280px;
   border : 1px solid black;
   padding: 8px 10px;
}

input[type=text], select{
    width: 100%;
    padding : 10px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=email], select{
    width: 100%;
    padding : 10px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.submitbtn{
    background-color : green;
	position : relative;
    bottom : 600px;
	left : 450px;
	width : 150px;
	height : 40px;
}

.displayText{
   z-index : 120;
   position : relative;
   color : black;
   top : 80px;
   width : 60px;
   height : 10px;
   right : 40px;
}

.addGraphic{
    z-index : 100;
	position : absolute;
	height : 50px;
	width : 60px;
    top : 120px;
	left : 82px;
}

.graphic1{
	height : 50px;
	width : 60px;
}

.tshirt{
    position : relative;
	height : 220px;
	width : 200px;
	right : 40px;
}

.container{
	position : relative;
	width : 300px;
	height : 200px;
	bottom : 350px;	
	left : 100px
	
}

input:focus{
    border: 1px solid red;
}

input:valid{
    border: 1px solid green;
}

.label{
   text-align : left-side;
}

